.mutor-patch {
    // text-align: center;
    // display: block;
    // margin: auto;
    // width: 100%;
    display: table;
    margin: 0 auto;
}

.mutor-patch-transport {
    font-size: 12px;
    display: table-cell;
    vertical-align: top;
    //background-color: #FFFFFF;
    // color: transparent;
    // text-shadow: 0 0 0 #FFFFFF;
    box-shadow: none;
    border: none;
}

.mutor-patch-plot2d {
    border: 1px solid #000000;
}
