.page-content {
    max-width: $global-max-width;
    padding-right: 10px;
    padding-left: 10px;
    font-family: $global-font-family;
    font-size: $global-font-size;
    font-weight: $global-font-weight;

    position: relative;

    .page-content {
	padding-left: 100px;
    }
    .page-content h1, h2, h3, h4, h5, h6 {
	font-style: oblique;
	
    }
}
